.itemDetailContainer {
   display: grid;
   grid-template-areas: "img itemd"

}
 .itemDetail{
     display:grid;
     grid-template-areas: "h5" "pd" "p" "button";
     justify-items: center
 }

  .itemDetailContainer .itemDetail{
      grid-area: itemd;
  }
 .itemDetailContainer img {
     width:20rem;
     grid-area: img;
 }

 .itemDetail h5{
     font-size: 2rem;
      grid-area: h5;
 }
 .itemDetail .description{
     grid-area: pd;

 }

 .itemDetail .price {
     grid-area: p;
 }

 .itemDetail .buttonCount{
     grid-area: button;
 }

 