.nav{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEEB;
}

.nav img{
    width:8rem;
    height:auto;
}

.navLink{
    text-decoration: none;
    color:#815C32;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navLink:hover{
    color:black;
}

 .rightSide{
display:flex;
flex-direction: column;
align-items: center;
margin-right: 3rem;
   

}

.userName{
    font-size: 0.8rem;
    color:#815C32;
   
}

.logout{
  
    font-size: 0.6rem;
    background-color: #A58B6E;
    border: none;
    border-radius: 0.1rem;
    color:#F0EEEB;
}

.righSideIn{
    display: flex;
    align-items: center;
    
}

@media (max-width: 420px){
    .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .nav .navLink{
        margin:0.5rem;
    }

    .rightSideIn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rightSide{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-left: 1rem;
        margin-right: 1rem;
    }

     .userName{
        margin-right: 1rem;
    }

    .nav img{
        width:8rem;
        margin: 0;
    }


}

